
#tnav {                                                                                                                                       
  display: block;
  margin: 0px 10px;
} 
#tnav div {
  line-height: 18px;
  margin-right: 10px;
  float: left;
  opacity:0.8;filter:Alpha(Opacity=0.8);
} 
#tnav div.useractions {
/*
    float: right;
    margin-right: 0px;
*/
}
#tnav div.useractions,
#tnav div.globalactions {
  font-size: 11px;
  background-color: #bbb;
  border-color: #fff;
  border-width: 2px;
  border-style: none outset outset outset;
}
#tnav a:link, #tnav a:visited {
  color: white;
  margin: 0 5px;
  font-size: 11px;
}
#tnav a:hover, #tnav a:active { 
  color: white;
  border-bottom: #bbb none 1px;
}

#tnav #dw__search input#qsearch__in {
    width: 236px;
    border: none;
    border-bottom: 1px solid #565657;
    height: 17px;
    font-size: 11px;
    color: #565657;
    background-color: white;
    background: url( 'images/magnifier.png' ) right 3px no-repeat;
    margin: 2px 0;
}
#tnav #dw__search input.button {
    display: none;
    height: 10px;
    width: 10px;
    text-indent: -2000px;
    border: none;
}
#tnav #qsearch__out {
    top: 30px;
    left: 120px;
    background: white;
    font-size: 12px;
    color: #565657;
} 
#tnav div.actions {
  float: left;
  text-align: right;
} 
