#tnav {                                                                                                                                       
  display: block;
  float: left;
  margin: 0px .25em;
} 
#tnav div {
  margin-right: 10px;
  margin-top: 2px;
  float: left;
  opacity:0.8;filter:Alpha(Opacity=0.8);
} 

#tnav div.useractions,
#tnav div.globalactions {
  font-size: 11px;
}
#tnav a:link, #tnav a:visited {
  margin: 2px 5px;
  font-size: 11px;
  line-height: 30px;
  border-bottom: none;
}
#tnav a:hover, #tnav a:active { 
    text-decoration: underline;
}

#tnav #dw__search input#qsearch__in {
    width: 236px;
    border: none;
    border-bottom: 1px solid #565657;
    height: 17px;
    font-size: 11px;
    color: #565657;
    background-color: white;
    background: url( 'images/magnifier.png' ) right 3px no-repeat;
    margin: 2px 0;
}
#tnav #dw__search input.button {
    display: none;
    height: 10px;
    width: 10px;
    text-indent: -2000px;
    border: none;
}
#tnav #qsearch__out {
    top: 30px;
    left: 120px;
    background: white;
    font-size: 12px;
    color: #565657;
} 
#tnav div.actions {
  float: left;
  text-align: right;
} 



#container #menu p a {
  padding: 3px 1px 3px 5px;
  font-size: 80%;
  text-transform: capitalize;
}
#container #menu #control p a {
  font-size: 95%;
}
#menu {
    display: block;
    float: left;
    width: 74%;
    margin: 123px 0 0em 1em;
}
#menu p {
  display: block;
  float: left;
  background-color: __background_other__;
  border-radius:        5px;
  -moz-border-radius:   5px;
  -webkit-border-radius:5px;
  -khtml-border-radius: 5px;
}

#menu #control {
    float: right;
    position: relative;
    top: 1em;
    left: 7px;
    font-weight: bold;
}
#menu #control p {
  border: 3px solid __background_other__;
  background: __background__;
}
#container #menu p a {
    opacity:0.8;filter:Alpha(Opacity=0.8);
    text-align: left;
    font-weight: bold;
    margin: 0 2px 0 0;
}




#content .sbhead {
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    padding: 3px;
    margin: 0 0 2px 0;
    float: left;
    font-size: 80%;
    clear: both;
}
#content .sbbox {
    font-size: 80%;
}

#content #toc__inside,
#content #toc__header {
  background-color: __background__;
  opacity:0.8;filter:Alpha(Opacity=0.8);
}

#content .sbbox,
#content #toc__inside {
    border: none;
}
#content .sidebarng .sbbox,
#content .sidebarng #toc__inside {
    border: none;
    border-left: 1px solid __border__;
    border-bottom: 1px solid __border__;
    margin-bottom: .5em;
    padding: .5em 0 .7em 0;
}
#content .sbhead,
#content .tocheader {
    border: none;
}

#content .sidebarng .sbbox,
#content .sidebarng .sbhead {
  background-color: __background__;
  opacity:0.8;filter:Alpha(Opacity=0.8);
}
