/*{{{ defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0; padding: 0; border: 0;
  font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
  vertical-align: baseline;
  outline: 0;
}
a img, :link img, :visited img { border: 0; }
:focus { border-bottom: #333 solid 1px; }
ol, ul { list-style: none; }
p.clear { clear: both; }
strong { font-weight: bold; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

p.clear, p.cleaner {
  clear: both;
}

strong {
  font-weight: bold;
}
/*}}}*/

/*{{{ layout */
.std div.clearer {
    clear: left;
}             
.std div.dokuwiki { 
    margin: 4px 1.0em 0 1.0em;
    text-align: left;
} 
.std div.dokuwiki page { 
    margin: 4px 1.5em 0 1.5em;
    text-align: left;
} 
#container {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;

  background: __background__ url( 'images/logofull.png' ) no-repeat center 5px fixed;

  width: 999px;
  margin: 0 auto;
  padding: 0;
} 


#container #header {
  display: block;
  height: 148px;
}
#container #header  a#dokuwiki__top {
  display: block;
  width: 300px;
  height: 150px;
  z-index: 100;
  background-color: transparent;
  float: right;
  clear: both;
  border: none;
  text-indent: -99999px;
}

#container #header h1,
#container #header h2 {
    display: none;
}


/*
h2, h3, h4, h5,
#content div p {
    width: 910px;
}
#content div.li,
#content div.li {
    width: 840px;
}
*/


#footer {
  width: 943px;
  display: block;
  clear: both;
  margin: 10px auto;
  padding: 5px 2em;
}
#footer .meta {
  float: right;
}
/*}}}*/

#manageraction {
display: none;
}

/*{{{ typo/colors*/
body.std {
  font-size: .9em;  
  font-family: helvetica, arial, Sans-Serif;  	
  /*
  font-family: Verdana, Sans-Serif;  	
  font-size: 12px;  
  font-family:Arial,sans-serif;
  */

  margin: 0 0px;

  background-color: __background__;
  color: __text__;
  line-height: 1.5em;
}
#content #toc__inside,
#content #toc__header,
#content .sidebarng .sbbox,
#content .sidebarng .sbhead {
  background-color: __background__;
  opacity:0.8;filter:Alpha(Opacity=0.8);
}
#content img {
  opacity:1;filter:Alpha(Opacity=1);
}
div.dokuwiki pre {
  opacity:0.8;filter:Alpha(Opacity=0.8);
}

#content .sbbox {
    font-size: 80%;
}

#container a:link, 
#container a:visited { 
  color: __extern__; text-decoration: none; 
}
#footer a:link, 
#footer a:visited { 
  color: __extern__; text-decoration: none; 
}
#content .sbbox a:link,
#content .sbbox a:visited,
#content div.toc a:link, 
#content div.toc a:visited { 
  color: __extern__; text-decoration: none; 
  border-bottom: none;
}
#content a:link, 
#content a:visited { 
  color: __extern__; text-decoration: none; 
  border-bottom: 1px solid __border__;
}
a:hover, a:active { 
  color: __text__; text-decoration: underline; 
}
#content a.wikilink2 {
text-decoration: none !important;
border-bottom: dashed 1px __border__ !important;
}
#container h1 { line-height: normal; font-size: 160%; padding: 0; clear: none !important; }
#container h2 { line-height: normal; font-size: 140%; padding: 0; clear: none !important; }
#container h3 { line-height: normal; font-size: 130%; padding: 0; clear: none !important; }
#container h4 { line-height: normal; font-size: 115%; padding: 0; clear: none !important; }
#container h5 { line-height: normal; font-size: 100%; padding: 0; clear: none !important; font-weight: bold; }
#container h1 a, body.std div.text h2 a, body.std div.text h3 a, body.std div.text h4 a, body.std div.text h5 a,
#container a.nolink {
  color: __text__;
  text-decoration: none;
  font-weight: normal;
}
#container h1,
#container h2 {
    border-bottom: 1px dotted __border__;
    clear: left;
}
#container h1,
#container h2,
#container h3,
#container h4,
#container h5 {
    color: __text__;
    padding: 2px 0 0 0;
    clear: left;
  margin: 1.0em 0em 1em 0;
}
#container h1 {
  margin-top: 1.5em;
}
#container pre {
  line-height: 1em;
}

#container div.level1 {margin-left: 0px;}
#container div.level2 {margin-left: 0px;}                                                                                                      
#container div.level3 {margin-left: 0px;}
#container div.level4 {margin-left: 0px;}
#container div.level5 {margin-left: 0px;}
/*}}}*/
/*{{{ borders n stuff */
#content .sbhead {
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    padding: 3px;
    margin: 0 0 2px 0;
    float: left;
    font-size: 80%;
    clear: both;
}

#content .sbbox,
#content #toc__inside {
    border: none;
}
#content .sidebarng .sbbox,
#content .sidebarng #toc__inside {
    border: none;
    border-left: 1px solid __border__;
    border-bottom: 1px solid __border__;
    margin-bottom: .5em;
    padding: .5em 0 .7em 0;
}
#content .sbhead,
#content .tocheader {
    border: none;
}
#container pre {
    border: none;
}
#container table.inline {                                                                                                                      
  background-color: __background__;
  border-spacing: 0px;
  border-collapse: collapse;
}          
           
#container table.inline th {
  padding: 3px;
  border: 1px solid __border__;
  background-color: __background__;
  font-weight: bold;
  border-bottom-width: 2px;
}          
           
#container table.inline td {
  padding: 3px;
  border: 1px solid __border__;
}          

/*}}}*/
/*{{{ bottons */
#content form table input[type=checkbox] {
    background: none;
}
#content form table input[type=text] {
    width: 336px;
    background: none;
    border: none;
    border-bottom: 1px solid __text__;
}
#content form textarea {
    border: none;
    background: #eee;
    height: 217px; width: 336px;
}
#container input.edit, 
#container select.edit {
    background: none;
    border: none;
    border-bottom: 1px solid __text__;
}
#container input.edit:focus, 
#container select.edit:focus {
    border-bottom: 1px solid white;
}
#container fieldset input.button, 
#container fieldset button.button {
    background-image: none;
    float: right;
    padding: 0 1.4em;

    font-size: 0.8em;
    border: 1px solid __border__ outset;
    background-color: __text__;
    color: __background__;
}

#container fieldset {
    border: none;
}
#edbtn__save {
    color: __text__;
    font-weight: bold;
    background-color: red;
}
/*}}}*/
